<h1>{{registerCtrl.greeting}}</h1>
<form class="registerForm" ng-submit="loginCtrl.login(logForm)">
  <div class="row">
    <div class="formGroup col-md-6">
      <label>Email</label>
      <input type="text" ng-model="loginCtrl.logForm.email" class="form-control">
    </div>

    <div class="formGroup col-md-6">
      <label>Password</label>
      <input type="password" ng-model="loginCtrl.logForm.password" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-control text-center error" ng-if="loginCtrl.error">
        Error Logging in
      </div>
    </div>
  </div>
    <div class="formGroup row">
      <div class="col-md-12">
        <button type="submit" class="form-control btn btn-primary">Register!</button>
      </div>
    </div>
</form>
